& {
    font-family: font-family(body);
    color: color(text);
}

a {
    color: color(brand);
}

p {
    margin-top: 0;
    margin-bottom: spacer(3);
}

@for $i from 1 through 4 {
    h#{$i},
    .is-h#{$i} {
        font-family: font-family(heading);
        @include font-size(h#{$i});
        line-height: 0.95;
        margin: 0;
    }
}

h4 {
    margin-top: spacer(3);
}