@import "../../style/global-style-resources";

section {
    background-color: color(brand);
    display: grid;
    grid-template-columns: 400px 1fr;

    .section--heading {
        background
        h1, h2 {
            position: sticky;
            top: 0;
        }
    }
}