@import "../../../style/global-style-resources";

section {
  background-color: color(background);
  color: color(text);
  border-bottom: 2px solid color(background, light);
  margin: spacer(6) 0;
  padding: 0 spacer(3) spacer(6);

  @include min(bp(md)) {
    padding: 0 spacer(2);
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    grid-gap: spacer(4);
  }

  &:last-child {
    border-bottom: none;
  }

  .section-content {
    @include min(bp(md)) {
      max-width: 700px;
      width: 100%;
      justify-self: center;
      padding-top: spacer(7);
      padding-bottom: spacer(7);
      // justify-self: flex-start;
    }
  }

  .section-heading {
    margin: spacer(6) 0;

     @include min(bp(md)) {
        margin: 0;
     }
  }

  @include min(bp(md)) {
      .clip-content-scroll-container {
        position: relative;
        min-height: 100vh;
        height: 100%;

        .clip-content-scroll-content {
          clip: rect(0, auto, auto, 0);
          -webkit-clip: rect(0, auto, auto, 0);
          -moz-clip: rect(0, auto, auto, 0);
          clip: auto;
          -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;

          .clip-content-scroll-content-inner {
            padding-left: 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: fixed;
            // right: 0;
            bottom: 0;
            z-index: 1;
            top: 0;
            // left: 0;
          }
        }
      }
    }
}
